/* Asterisk wildcard selector to override default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* genral styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: 3a3a3a;
}


/* header */
header {
    background-color: lightcoral;    }
/* main content */
main {
    /* Make main element take up surplus space to push the footer down */
    flex: 1 0 auto; 
    background-color: lightblue;
}
/* footer */
footer {
    background-color: orange;
}