/* font imports /*
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300&family=Oswald:wght@300&display=swap");


/* Asterisk wildcard selector to override default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* genral styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: 3a3a3a;
  font-family: "Lato", sans-serif;
}

/* header */
header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a
}
h1 {
  font-family: "Oswald", sans-serif;
}
/* main content */
main {
  /* Make main element take up surplus space to push the footer down */
  flex: 1 0 auto;
  background-color: lightblue;
}
/* footer */
footer {
  background-color: orange;
}
